<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <!-- General Configuration -->
    <card>
        <title>General Configuration</title>
        <title lang="de-DE">Allgemeine Konfiguration</title>

        <input-field type="bool">
            <name>active</name>
            <label>Active</label>
            <label lang="de-DE">Aktiv</label>
            <defaultValue>true</defaultValue>
        </input-field>
    </card>
    <!-- Storefront Configuration -->
    <card>
        <title>Storefront Configuration</title>
        <title lang="de-DE">Storefront-Konfiguration</title>

        <input-field type="int">
            <name>storefrontCardWidth</name>
            <label>Width card image (px)</label>
            <label lang="de-DE">Breite Kartenbild (px)</label>
            <helpText>Width card image in front office.</helpText>
            <helpText lang="de-DE">Breite des Kartenbildes im Frontend.</helpText>
            <defaultValue>528</defaultValue>
            <required>true</required>
        </input-field>

        <input-field type="int">
            <name>storefrontCardHeight</name>
            <label>Height card image (px)</label>
            <label lang="de-DE">Höhe Kartenbild (px)</label>
            <helpText>Height card image in front office.</helpText>
            <helpText lang="de-DE">Höhe des Kartenbildes im Frontend.</helpText>
            <defaultValue>318</defaultValue>
            <required>true</required>
        </input-field>


    </card>

    <!-- Email Configuration -->
    <card>
        <title>Email Configuration</title>
        <title lang="de-DE">E-Mail-Konfiguration</title>



        <input-field type="int">
            <name>emailCardWidth</name>
            <label>Width card image (px)</label>
            <label lang="de-DE">Breite Kartenbild (px)</label>
            <helpText>Width card image in mail.</helpText>
            <helpText lang="de-DE">Breite des Kartenbildes in der E-Mail.</helpText>
            <defaultValue>300</defaultValue>
            <required>true</required>
        </input-field>

        <input-field type="int">
            <name>emailCardHeight</name>
            <label>Height card image (px)</label>
            <label lang="de-DE">Höhe Kartenbild (px)</label>
            <helpText>Height card image in mail.</helpText>
            <helpText lang="de-DE">Höhe des Kartenbildes in der E-Mail.</helpText>
            <defaultValue>194</defaultValue>
            <required>true</required>
        </input-field>
    </card>

    <!-- PDF Configuration -->
    <card>
        <title>PDF Configuration</title>
        <title lang="de-DE">PDF-Konfiguration</title>

        <component name="ictech-gift-card-settings-custom">
            <name>ictechGiftCardSettingsCustom</name>
        </component>

        <input-field type="bool">
            <name>enablePdf</name>
            <label>Enable PDF attachment</label>
            <label lang="de-DE">PDF-Anhang aktivieren</label>
            <defaultValue>true</defaultValue>
            <required>true</required>
        </input-field>

        <input-field type="text">
            <name>pdfPrefix</name>
            <label>PDF prefix</label>
            <label lang="de-DE">PDF-Präfix</label>
            <helpText>Prefix used for gift card name (e.g. GIFTCARD-00001.pdf).</helpText>
            <helpText lang="de-DE">Präfix für den Geschenkkartennamen (z.B. GIFTCARD-00001.pdf).</helpText>
            <defaultValue>GIFTCARD-</defaultValue>
            <required>true</required>
        </input-field>

        <input-field type="int">
            <name>pdfCardWidth</name>
            <label>Width card image (px)</label>
            <label lang="de-DE">Breite Kartenbild (px)</label>
            <helpText>Width card image in PDF generated.</helpText>
            <helpText lang="de-DE">Breite des Kartenbildes im generierten PDF.</helpText>
            <defaultValue>300</defaultValue>
            <required>true</required>
        </input-field>

        <input-field type="int">
            <name>pdfCardHeight</name>
            <label>Height card image (px)</label>
            <label lang="de-DE">Höhe Kartenbild (px)</label>
            <helpText>Height card image in PDF generated.</helpText>
            <helpText lang="de-DE">Höhe des Kartenbildes im generierten PDF.</helpText>
            <defaultValue>192</defaultValue>
            <required>true</required>
        </input-field>


    </card>

</config>
